<%- include('./partials/header.ejs') %>

<section class="">
  <h1>Le formulaire a bien été envoyé </h1>
  <p>
    Vous avez envoyé les infos suivantes :
    Nom : <%= data.name %>
    Email : <%= data.email %>
    Contenu : <%= data.content %>
  </p>
</section>

<%- include('./partials/footer.ejs') %>